@charset "ISO-8859-1";
body{
	margin:0;
	background-image:url("https://kj1bcdn.b-cdn.net/media/75164/tiranga.jpg?format=webp&width=1280");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:bottom 10px;;
	font-family:Helvetica;
	margin-bottom:30px;
	
}
h1{
	color:blue;
	background-color:red;
}
nav{
	background-color:orange; 
	font-size:35px;
	color:white;
	display:flex;
	justify-content:right;
	padding-top:10px;
	padding-bottom:10 px;
}

nav a{
	color:white;
	padding-right:15px;
	padding-left:15 px;
}

nav a:hover{
	color:black;
}
.form-container{
	background-color:#FEFCF3;
	font-size:30px;
	width:35%;
	height:70%;
	display:flex;
	justify-content:center;
	margin-left:60%;
	margin-top:5%;
	margin-right:10%;
	border-radius:20px;
	padding-bottom:4%;
}
.form-container a{
	margin-left:42%;
	color:black;
}
.form-container a:hover{
	color:blue;
}
.form-container label{
	margin-left:16%;
}

.form-container input,button,select{
	width:200px;
	height:50px;
	margin-top:20px;
	border-radius:20px;
}

.form-container input{
	width:70%;
	height:40px;
	margin-top:25px;
	margin-left:15%;
	font-size:25px;
	background-color:#82C3EC;
	text-align:center;
}

.form-container button,textarea{
	width:72%;
	height:40px;
	margin-top:25px;
	font-size:25px;
	margin-left:15%;
	background-color:#82C3EC;
	text-align:center;
	border-radius:20px;
}

.form-container select{
	width:72%;
	height:40px;
	margin-top:25px;
	font-size:25px;
	margin-left:15%;
	background-color:#82C3EC;
	text-align:center;
	border-radius:20px;
}


.about{
	font-family:Helvetica;
	width:100vx;
	height:80vh;
	font-size:30px;
	padding-left:30px;
	opacity:0.8;
	background-color:#FEFCF3;
}
.about p{
	padding-top:40px;
	font-weight:bold;
}
.about img{
	width:30vx;
	height:30vh;
	margin-bottom:15px;
}


.checktable{
	background-color:#F8EDE3;
	height:95vh;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:30px;
}
.checktable image{
	height:100px;
	width:100px;
}
.checktable th,td{
	padding:10px 60px;
}